<!--/* 
Aufgabe 08
Name: Chris Schmieder
Matrikel: 256029
Datum: 18.12.2017
        
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe.
Er wurde nicht kopiert und auch nicht diktiert. */ -->

div {
	position: absolute;
}